// display
.lt-flex-column{
    flex-direction: column !important;
}
.lt-flex-wrap{
    flex-wrap: wrap !important;
}
.lt-d-flex{
    display: flex !important;
}
.lt-d-grid{
    display: grid !important;
}
.lt-d-block{
    display: block !important;
}
.lt-d-none{
    display: none !important;
}

.lt-justify-content-center{
    justify-content: center !important;
}
.lt-justify-content-around{
    justify-content: space-around !important;
}
.lt-justify-content-between{
    justify-content: space-between !important;
}
.lt-justify-content-start{
    justify-content: start;
}
.lt-align-items-center{
    align-items: center !important;
}

// positions
.pos-abs{
    position: absolute !important;
}
.pos-fixed{
    position: fixed !important;
    transition: .5s;
    z-index: 3;
}
.lt-bottom-light{
    border-bottom: 1px solid gainsboro !important;
}
.pos-rel{
    position: relative !important;
}
.pos-static{
    position: static !important;
}

// border 
.lt-border-light{
    @include border-light;
}
.lt-border-white{
    @include border-white;
    
}

.lt-radius-25rem{
    @include radius-25rem;
}

// ? images 
.lt-image-cover{
    object-fit: cover !important;
}
.lt-image-contain{
    object-fit: contain !important;
}
.lt-image-center{
    object-position: center !important;
}
.lt-image-top{
    object-position: top !important;
}
.lt-image-bottom{
    object-position: bottom !important;
}
.lt-image-left{
    object-position: left !important;
}
.lt-image-right{
    object-position: right !important;
}

// ? alignment
.lt-m-auto{
    margin: auto !important;
}
.lt-mt-1{
    margin-top: 5px;
}
.lt-mt-2{
    margin-top: 10px;
}


.lt-m-side-5{
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.lt-m-side-2{
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.lt-p-0{
    padding: 0 !important;
}
.lt-p-1{
    padding: 5px !important;
}
.lt-p-2{
    padding: 10px !important;
}
.lt-p-3{
    padding: 15px !important;
}

// visablity

.lt-o-f-hidden{
    overflow: hidden !important;
}

// directions
.lt-rtl{
    direction: rtl !important;
}
.lt-ltr{
    direction: ltr !important;
}

// text
.lt-text-gold{
    color: $gold !important;
}
.lt-data-row{
    border: 1px solid gainsboro;
    max-width: 500px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.lt-text{
    margin: 0 10px !important;
    display: flex;
}
.lt-text-muted{
    opacity: .7 !important;
}
.lt-text-primary{
    color: $primary;
}
.hr{
    opacity: .1 !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    height: 1px !important;
}

.lt-br{
    display: block !important
}
.lt-text-xs{
    font-size: 14px !important;
    @extend .lt-text;
}
.lt-text-xl{
    @extend .lt-text;
    font-size: 25px !important;
}
.lt-text-lg{
    @extend .lt-text;
    font-size: 20px !important;
}
.lt-text-md{
    @extend .lt-text;
    font-size: 18px !important;
}
.lt-text-sm{
    @extend .lt-text;
    font-size: 16px;
}
.lt-text-white{
    color: white !important;
}
.lt-text-dark{
    color: $dark !important;
}
.lt-text-success{
    color: $green;
}
.lt-text-danger{
    color: $danger;
}
.lt-text-center{
    text-align: center;
}
.lt-text-right{
    text-align: right !important;
}
// cursor 
.lt-pointer{
    cursor: pointer !important;
}

// ? simple animate 

.deg360{
    transition: .5s;
}
.deg360:hover{
    transform: rotate(360deg);
}

.lt-avatar{
    border-radius: 50% !important;
    object-fit: cover !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-transform: uppercase !important;
    object-position: center !important;
}
.lt-avatar img{
    @extend .lt-avatar;
}
.lt-avatar-lg{
    min-width: 50px !important;
    min-height: 50px !important;
    max-width: 50px;
    max-height: 50px;
}
.lt-avatar.lt-bg-danger,.lt-avatar.lt-bg-primary{
    @extend .lt-text-white;
}
.lt-avatar-md{
    min-width: 40px !important;
    min-height: 40px !important;
    max-width: 40px;
    max-height: 40px;
}
.lt-avatar-sm{
    min-width: 30px !important;
    min-height: 30px !important;
    max-width: 30px;
    max-height: 30px;
}
.lt-avatar img{
    max-width: 100% !important;
    max-height: 100% !important;
}


