$danger: #D9073F;
$dangerDark: #BF3326;
$lightRed:#ff0145;
$greenLight: #04BF68;
$green: #03A65A;
$primary:#5550F2;
$dirtyPink:#D7AEF2;
$lightProple:#CB91F2;
$light:#EBEBF2;
$olive:#277332;
$dark:#13401E;
$yellow:#F2CC0C;
$dark:#010326;
$lightnavy:#1b2074;
$lightBlue:#1e87ff;
$white:white;
// shadows 

$lightshadow:#ebebf29b;
