$danger: #D9073F;
$dangerDark: #BF3326;
$lightRed:#ff0145;
$greenLight: #04BF68;
$green: #03A65A;
$primary:#5550F2;
$dirtyPink:#D7AEF2;
$lightProple:#CB91F2;
$light:#f6f6f6;
$light-100:#F9F9F9;
$dark:#13401E;
$yellow:#F2CC0C;
$dark:#010326;
$dark-100:#000116;
$lightnavy:#1b2074;
$lightBlue:#1e87ff;
$white:white;
// shadows 
$grayShadow:rgba(223, 223, 223, 0.918);
$lightshadow:#ebebf29b;
$lightGray:#F2F2F2;
// olive 
$olive:#0A732F;
$olive-100:#0A732F;
$olive-200:#0A702E;
$olive-600:#085C25;
$gold:gold;