@mixin border {
    border: 1px solid ;
}
@mixin border-gainsboro {
    border-color: gainsboro !important;
}


@mixin border-light {
    border: 1px solid rgba(255, 255, 255, 0.295) !important;
}

@mixin border-white {
    border: 1px solid #fff !important;
}

@mixin gradient-light {
    background: rgb(255,255,255) !important;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(250,254,255,1) 34%, rgba(255,255,255,1) 100%) !important; 
}

@mixin radius-25rem {
    border-radius: .25rem !important;
}

@mixin d-flex {
    display: flex;
}
@mixin jc-s-a {
    justify-content: space-around;
}
@mixin jc-s-b {
    justify-content: space-between;
}
@mixin ai-c {
    align-items: center;
}
@mixin ai-s {
    align-items: start;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular')
}
@mixin icons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';

}