*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
}


// categories nav
@media (max-width:1320px){

    .categories-settings{
        position: fixed;
        right: -100000%;
        z-index: 4;
        width: 300px;
        background-color: white;
        height: 100%;
    }

    .show-settings-button{
        display: block !important;
        position: fixed;
        right:10px;
        bottom:10px;
        z-index: 5;

    }
}

.active-settings{
    right: 0 !important;
    transition: .5s;
}