.lt-input-no-style:focus,.lt-input-no-style:valid{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.boom-input{
    height: 45px;
    font-size :20px !important;
}