.lt-input-no-style:focus,.lt-input-no-style:valid{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.boom-input{
    max-height: 45px;
    min-height: 40px;
    font-size :20px !important;
    border: 1px solid gainsboro;
    padding: 5px !important;
    font-size: inherit !important;
    transition: .5s;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.boom-input:focus{
    transition: .5s;
    outline: 5px solid aliceblue;
    border: 1px solid aliceblue;
    box-shadow: none;
}
.boom-input:invalid,.boom-input:out-of-range{
    outline: 3px solid rgba(255, 65, 65, 0.356);
    border: none;
    
}
