
/* Chrome, Safari, Edge, Opera */
.boom-number::-webkit-outer-spin-button,
.boom-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.boom-number{
    position: relative;
}


/* Firefox */
.boom-number[type=number] {
  -moz-appearance: textfield;
  text-align: center;
  max-width:100px !important;
  max-height: 35px !important;
}

.boom-container-number{
    direction: rtl;
    display: flex;
    align-items: center;
    border:1px solid gainsboro;
    border-radius: .25rem;
    max-width: 200px;
    height: 100% !important;
    padding: 5px 10px ;
    *{
        border: none ;
        &:active,&:valid{
            border: none;
            outline: none;
            box-shadow: none;
        }
    }
}
.boom-number-button{
    outline: none;
    border: none;
    box-shadow:none;
    margin:0 3px;
}

.button{
    border: none;
    background-color: white;
    padding: 3px;
}