@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  

body{

    width: 100%;
    height: 100%;
    position: relative;
    direction: rtl;
    padding: 0 20px;
    top: 50px;
}

.logo{
    letter-spacing: 20px;
    font-family: 'Rubik Beastly', cursive;
}

.lt-tab{
  width: calc(700px / 4);
}


.lt-banner{
  margin:5px;
  height: fit-content !important;
}

#cont{
  right: 0;
  top: 0;
  position: fixed;
}

.fab{
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  top: -25px;
  align-items: center;
  justify-content: center;

}
.fab .btn-fab{
  width: 36px;
  height: 36px;
  border-radius: inherit;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 25px; */
  cursor: pointer;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}