.nav-logo{
    max-width: 80px;
}



:root{
    --search-result-height:500px;
}
.search-result-bar{
    z-index: 10;
    position: fixed;
    max-height: var(--search-result-height);
    left: 0;
    margin: auto;
    margin-top: 17px;
    top: +50px;
    right: 0;
    overflow-y: hidden;
}
nav{
    z-index: 10;
}

.search-links{
    max-height: inherit;
    scrollbar-width: thin;
    margin-top: 0;
    padding-top: 0 !important;
    overflow-y: scroll;
    padding-bottom: 70px;
}
// ? secondary header 
.secondary-header{
    width: 100%;
}
.secondary-header nav{
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: start;
    // link

    .nav-link,.drop-link{
        min-height: 100%;
        text-decoration: none;
        padding: 0 10px;
        position: relative;
        font-size: 18px;
        color: var(--dark);
        max-width: fit-content;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        .drop-link{
            position: static;
        }

        // hover

        &:hover{
            background-color: var(--light-100);
        }



    }
    .active-link{
        background-color: var(--light-100);
    }
}



.nav-content{
    padding: 0 55px !important;
}

@media (max-width:1008px){

    .nav-content{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .secondary-header nav{
        display: none;
    }
    
}

.categories-menu{
    width: 100%;
    position: absolute;
    padding:20px;
    background: white;
    top: 90%;
    right: 0px !important;
    min-height: 100% !important;
    overflow-y: auto;   
    scrollbar-width: thin;
    margin: auto !important;
    display: none;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;

    li{
        margin: 10px 0;
        list-style: none;
        border-bottom: 1px solid gainsboro; 
        padding: 10px;
        &:last-child{
            border-bottom: none;
        }
    }
    z-index: -1 !important;
}