



.lt-search-form{
    @extend .lt-bg-white;
    border: 1px solid ;
    @include border-gainsboro;
    @include radius-25rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.lt-search-form .lt-select select{
    padding:0 5px !important;
    border:none;
    border-left: .5px solid !important;
    @include border-gainsboro;
    background-color: $white !important;
    outline: none !important;
}
.lt-search-form input{
    width: 350px;
    padding: 0 10px ;
    &:focus{
        opacity: 1;
    }
}

.lt-search-form span{
    display: flex;
    opacity: .7;
    align-items: center;
    justify-content: center;
    width: 40px !important;
    text-align: center;
}

.lt-search-form input:valid{
    border: none;
    outline: none;
}


.lt-input{
    @include radius-25rem;
    padding: 0 10px;
}
// class 

