.lt-snack-bar{
    min-width: 300px;
    @include d-flex;
    @include jc-s-b;
    @include radius-25rem;
    margin: 5px 0;
    align-items: center;
    padding: 10px 20px;
    min-height: 47px;
    align-content: center !important;
}


.lt-snack-bar *{
    padding: 0 !important;
    margin: 0 !important;
}


