.tabs-h{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: start;
    transition: .5s;
}

.tabs-v{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1,1fr);
}

.tabs-header-v,.tabs-header-h{
    display: flex !important ;
    max-height: 100%;
    justify-content: space-between;
    .tab-nav{
        text-decoration: none;
        color: var(--dark);
        width:100%;
        font-size: 20px;
        text-align: center !important;
        min-height: 100%;
        width: 100%;
        padding: 20px 10px;
    }
    
}

.tabs-header-h{
    flex-direction: column ;
}

.tabs-content {
    position: relative;
    min-height: 100%;
    padding-top: 0;
    .tab{
        position: absolute;

        padding: 20px;
        min-width: 100%;
        z-index: -1 ;
        min-height: 100%;
        display: none;
        background-color: white;
    }
}

.tabs-header-v{
    flex-wrap: wrap;
    width: 100%;
    transition: .5s;
    .tab-nav{
        text-align: center;
        width: fit-content;
        transition: .5s;
        padding: 10px !important;
    }
}

.tab-border .tab-nav{
    border: 1px solid gainsboro;
}

.active-tab-nav{

    color: white !important;
    background-color: var(--dark) !important;
}





@media (max-width:806px){
    .tabs-h{
        grid-template-columns: repeat(1,1fr) ;
        gap: 10px;
    }
    .tabs-header-h{
        flex-direction: row;
        background: none !important;
        flex-wrap: wrap;
        .tab-nav{
            width: fit-content !important;
            padding: 10px ;
            font-size: 16px ;
        }       
    }
    .tabs-content{
        margin-top: 10px;
        background-color: white !important;
        padding: 0;
    }

    label,input,select{
        font-size: 16px !important;
    }
}

.active-tab{
    transition: .5s;
    display: block !important;
    z-index: 1 !important;
}