@media (max-width:1304px){
    .lt-product-review{
        grid-template-columns: repeat(2,1fr) !important;
        margin: 0  auto !important;
        padding-top: 0 !important;
        
    }
    h1:not(.product-title){
        font-size: 16px !important;
        font-weight: lighter;
    }
    .product-meta{
        align-items: center !important;
        display: flex;
        flex-direction: column;
    }
}   

@media (max-width:828px){
    .lt-product-data {
        width: 100% !important;
    }
    .lt-product-review{
        grid-template-columns: repeat(1,1fr) !important;
        width: 100% !important;
    }
    .zoom-result{
        display: none;
        &:hover{
            display: none;
        }
    }
}

@media (max-width:526px){
    .images-list,.active-img{
        display: flex;
        justify-content: center;
    }

}
