@import '../colors';
$card-width:300px;
$card-height:400px;
$img-height:250px;

.products{
    margin-top: 20px;
    .product{
        height: 450px;  
        padding: 0 !important;
        margin: 0 ;
        text-decoration: none;
        display: flex;
        align-items: start;
        flex-direction: column;
        color: $dark;
        img{
            max-height: 300px;
            width: 100%;
            object-fit: cover;
        }
        
        p{
            opacity: .7;
        }
    }
}

.countdown-deal{

    margin-top: 20px !important;
    .countdown-container{
        color: $dark;
        text-decoration: none;
        padding: 0 !important;
        margin: 0 !important;
        img{  
            max-height: 300px;
            max-width: 100%;
            object-fit: cover;
        }
        .countdown-content{
            padding: 10px;  
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            .deal-title{
                font-size: 20px;
            }
   
        }
    }

}


@media (max-width:800px){
    .products {
        .product{
            height: auto !important;
            margin-top: 5px;
            margin-bottom: 5px;
            img{
                max-height: 200px !important;
            }
            h5{
                font-size: 16px;
            }
            h6{
                font-size: 14px;
            }
        }
    }
}

