.lt-bg-primary{
    background-color: $primary !important;
}
.lt-bg-light{
    background-color: $light !important;
}
.lt-bg-danger{
    background-color: $danger !important;
}
.lt-bg-warning{
    background-color: $yellow !important;
}

.lt-bg-navy{
    background-color: $lightnavy !important;
}

.lt-bg-white{
    background-color: white !important;
}

.lt-bg-dark{
    background-color: $dark !important;
}


.lt-bg-light-gradient{
    @include gradient-light;
}

.lt-bg-gray-gradient{
    background: rgb(254,254,254) !important;
    background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(218,218,218,1) 39%, rgba(255,255,255,1) 100%) !important; 
}