.lt-bg-primary{
    background-color: $primary !important;
}
.lt-bg-light{
    background-color: $light !important;
}
.lt-bg-danger{
    background-color: $danger !important;
}
.lt-bg-warning{
    background-color: $yellow !important;
}

.lt-bg-navy{
    background-color: $lightnavy !important;
}

.lt-bg-white{
    background-color: white !important;
}

.lt-bg-dark{
    background-color: $dark !important;
}