.lt-btn{
    @include radius-25rem;
    border: none !important;
    padding: 7px 15px !important;
    cursor: pointer;
    transition: .5s;
    font-size: 14px;
}

.lt-btn-md{
    font-size: 18px;
}
.lt-btn-lg{
    font-size: 20px;
}

// all
.lt-btn-primary,.lt-btn-danger,.lt-btn-success{
    color: $light !important;
}

// primary
.lt-btn-primary{
    background-color: $lightBlue !important;
}

.lt-btn-primary:hover{
    background-color: $primary !important;
}
// danger
.lt-btn-danger{
    background-color: $lightRed;
}
.lt-btn-danger:hover{
    background-color: $danger !important;
}
// success 
.lt-btn-success{
    background-color: $greenLight !important;
}
.lt-btn-success:hover{
    background-color: $green !important;
}

.lt-btn-warning{
    background-color: $yellow;
}

.lt-btn-white{
    @extend .lt-bg-white;
}
.lt-btn-dark{
    @extend .lt-bg-dark;
    @extend .lt-text-white;
}
