.m-side-5{
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.m-side-2_5{
    margin-left: 1.7px !important;
    margin-right: 1.7px !important;
}


.ml-0{
    margin-left: 0 !important;
}
.mr-auto{
    margin-right: auto !important;
}